/* tabela da pagina niveis.php */
.tabela {
     margin-right:40px; 
     border:solid 2px rgba(223, 18, 18, 0.471);
     padding:10px
}

.tabela {
     text-decoration: none;
   }


/* Estilizações que eu coloquei */ 
 
*{  /* preto da fonte do data table */
     color: #000000;
}   

a, i   {    
transition: .5s;
text-decoration: none; 
}

.center-image {
     background-size: :cover;
     background-position:center;
}